<div class="dashboard-container">
  <div class="header">
    <h1>PROJECT OVERVIEW DASHBOARD (POD)</h1>
    <img src="logo.png" alt="SriLankan " />
  </div>

  <!-- Project Table Component -->
  <app-project-table [projects]="currentPageProjects" [currentPage]="currentPage"></app-project-table>

  <div class="statistics-section">
    <div class="progress-circle">
      <h2>OVERALL PROGRESS</h2>
      <div class="circle-container">
        <div class="circle">
          <div class="circle-value">90%</div>
          <div class="circle-label">On Track</div>
        </div>
      </div>
    </div>

    <!-- Statistics Cards Component -->
    <app-statistics-cards></app-statistics-cards>
  </div>

  <div class="page-indicators">
    <div 
      *ngFor="let dot of [0,1,2]; let i = index" 
      class="dot" 
      [class.active]="currentPage === i">
    </div>
  </div>
</div>